body{
    background-color: rgb(33, 28, 22);
    color: rgb(255, 255, 255);
}
h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 5%;
    font-size: xx-large;
    text-align: center;
    color: bisque;
    background-color: rgb(0, 0, 0);
    position: sticky;
    top: 0%;
    bottom: 0%;
}
#Text{
    
    font-family: "Monaco", "Courier New", monospace;
    margin: 5%;
    color: bisque;
    column-count: 2;
}
#Images{
  column-count: 3;
  margin-left: 30%;
}
#Photo{
    margin-left: 25%;
}
#Instagram{
    font-size: large;
    color: bisque;
    font-family: "Monaco", "Courier New", monospace;
    top: 50%;
    margin: 5%;
    position: sticky;
}