body{
    background-color: rgb(33, 28, 22);
    color: rgb(255, 255, 255);
}
h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 5%;
    font-size: xx-large;
    text-align: center;
    color: bisque;
    background-color: rgb(0, 0, 0);
    position: sticky;
    top: 0%;
    bottom: 0%;
}
#Text{
    font-family: "Monaco", "Courier New", monospace;
    margin: 5%;
    color: bisque;
    column-count: 2;
}
#Images{
  margin-left: 40%;
}
#Photo{
    margin: 25%;
}
#Instagram{
    font-size: large;
    color: bisque;
    font-family: "Monaco", "Courier New", monospace;
    margin: 5%;
    top: 50%;
    position: sticky;
}
a:link {
    color: hsl(240, 57%, 91%);
  }
  a:visited {
    color: hsl(240, 57%, 91%);
  }
  a:hover {
    color: hsl(240, 24%, 69%);
  }
  a:active {
    color: hsl(240, 17%, 45%);
  }